$lightGrey: #eee
$purple: slateblue
$red: crimson
$green: palegreen
$black: #333


body
  margin: 10px
  background-color: $lightGrey

.marker
  background-color: transparentize(black, 0.8)

.buildSummary
  margin-bottom: 10px

  &.running
    background-color: $purple
    color: $lightGrey

  &.failed
    background-color: $red
    color: $lightGrey

  &.success
    background-color: $green
    color: $black

  .buildIcon
    display: inline-block
    padding: 10px 30px
    font-size: 2em

  .buildNumber
    display: inline-block
