.buildStep
  position: relative
  display: inline-block
  border: 0px solid $dark-grey
  border-radius: 3px
  padding: 16px 8px 4px 8px
  margin: 0 30px 20px 0
  color: $very-dark-grey
  background-color: $white
  min-width: 80px
  max-width: 180px
  vertical-align: top

.buildStep.inParallel
  display: block

.buildStep:first-of-type
  margin-left: -30px

.buildStep.inParallel:first-of-type
  margin-left: 0px

.buildStep:before, .buildStep:after
  content: ''
  position: absolute
  top: 3px
  height: 2px

.buildStep:before
  width: 18px
  left: -18px
  background-color: $dark-grey

.buildStep.inParallel:first-of-type:before
  width: 30px
  left: -30px

.buildStep:after
  width: 15px
  right: -15px
  background-color: $dark-grey

.buildStep.inParallel:first-of-type:after
  width: 25px
  right: -25px

.buildStep:first-of-type:before, .buildStep:last-of-type:after
  display: none

.buildStep.inParallel:first-of-type:before, .buildStep.inParallel:last-of-type:after
  display: initial


.buildStep
  & .buildIcon
    position: absolute
    color: $white
    top: -12px
    left: -12px
    border: 0px solid #3D3636
    border-radius: 50%
    width: 28px
    height: 28px
    text-align: center

    & i
      line-height: 28px
      height: 28px

  & .stepName
    font-size: 0.8em

  & .stepDuration
    position: absolute
    font-size: 0.7em
    font-weight: 100
    right: 4px
    top: 2px

.buildStep.success .buildIcon
  background-color: $green
.buildStep.failure .buildIcon
  background-color: $red
.buildStep.running .buildIcon
  background-color: $blue

.buildStep.pending .buildIcon
  background-color: $dark-grey

.buildStep.waiting .buildIcon
  background-color: $peru

.buildStep.killed .buildIcon
  background-color: $black

.verticalLine
  position: absolute
  top: -126px
  background-color: $dark-grey
  width: 2px
  height: 131px
  left: 195px

.verticalLine:first-of-type
  left: -20px

.buildStep.inParallel:first-of-type>div>.verticalLine
  display: none








