@import 'colors'


.main
  min-height: 100%
  margin-bottom: -40px

.main:after
  content: ""
  display: block
  height: 40px


.footer
  height: 40px

  & .version-info
    font-size: 0.8em

.version-info__link > a
  padding: 0
  color: $dark-light-grey
