@import 'colors'

.appHeader
  background-color: white
  padding: 8px
  border-bottom: 2px solid #687fc2
  color: #444

.logo
  display: inline-block
  margin-right: 8px

.logoImage
  display: inline-block
  margin: 8px
  vertical-align: middle
  height: 40px

.logoText
  display: inline-block
  color: #76bc73
  font-weight: 300
  font-size: 1.8em
  vertical-align: middle
  text-transform: uppercase

.pipelineName
  vertical-align: middle
  margin: 0 24px 0 16px

.runButton
  background: none
  color: $blue
  border: 1px solid $blue

  &:hover, &:active, &:focus
    background: $blue
    color: $white
    border: 1px solid $blue

.linksHeader
  display: inline-block
  margin: 0 24px 0 0

  &>a
    color: $blue
    padding: 0 12px
    text-decoration: none
    vertical-align: middle
    border-right: 1px solid lighten($blue, 20%)

  &>a:hover, &>a:active, &>a:focus
    color: darken($blue, 20%)

  :last-child
    border-right: none
