@import 'colors'
@import 'buildSummary'

html
  height: 100%
body
  margin: 10px
  background-color: $lightGrey
  height: 100%

.placeholder
  visibility: hidden

.hidden
  visibility: collapse

.loadingMessage
  padding-left: 15px
  color: black

.link
  color: $blue
  padding: 0 12px
  text-decoration: none
  vertical-align: middle
  border-right: 1px solid lighten($blue, 20%)

.link:hover, .link:active, .link:focus
  color: darken($blue, 20%)

.link:last-child
  border-right: none

