@import "colors"

.nBuildDetails
  background-color: $lightGrey
  overflow-x: hidden
  padding: 20px 0px 10px 30px
  white-space: nowrap

  /* Start: Hide Connection Line for root steps */
  >.nBuildStep
    &:first-of-type:before, &:last-of-type:after
      display: none

  >.nBuildStepParallel
    &:first-of-type
      >.nBuildStep:first-of-type:before
        display: none
    &:last-of-type
      >.nBuildStep:first-of-type:after
        display: none

  >.nBuildStepWithSubsteps
    &:first-of-type
      >.nBuildStep:first-of-type:before
        display: none
    &:last-of-type
      >.nBuildStep:first-of-type:after
        display: none
  /* End: Hide Connection Line for root steps */

.nBuildStep
  position: relative
  display: inline-block
  vertical-align: top
  z-index: 0

  & .stepDuration
    position: absolute
    font-size: 0.7em
    font-weight: 100
    right: 4px
    top: 0px

  &.nLowermostStep
    background-color: $white
    border: 1px solid $grey
    margin: 0px 10px

  &.nWithSubsteps
    width: 100%
    border-width: 0px 2px
    border-color: $very-dark-grey
    border-style: solid

  &:before , &:after
    content: ""
    height: 2px
    position: absolute
    background-color: $very-dark-grey

  &:before
    left: -16px
    top: -1px
    width: 16px

  &:after
    right: -11px
    top: -1px
    width: 11px

  &.nWithSubsteps
    &:before
      width: 13px
      left: -13px

    &:after
      width: 13px
      right: -13px

.nBuildStepParallel
  background-color: transparentize($very-dark-grey, 0.8)
  margin: 0px 10px
  border: 1px solid $grey
  display: inline-block
  vertical-align: top

.nBuildStepWithSubsteps
  border-radius: 3px
  background-color: transparentize($very-dark-grey, 0.8)
  margin: 0px 10px
  border: 1px solid $grey
  display: inline-block
  vertical-align: top
  padding-bottom: 10px

.nBuildStepInParallel
  display: block
  vertical-align: top

  .nBuildStepWithSubsteps
    margin-bottom: 10px

.nParallelLine
  border-style: solid
  border-width: 0px 2px
  border-color: $very-dark-grey
  padding-bottom: 10px

  &:last-of-type
    border-color: transparent

  // Only for direct child
  >.nBuildStep
    width: calc(100% - 20px)

.nLowermostStep:first-of-type:before
  left: -11px
  width: 11px
  

.nStepName
  font-size: 11px
  padding: 14px 10px 10px 10px
  height: 100%
  font-weight: bold
  
  &.nHasSubsteps
    cursor: pointer

.nBuildStep .buildIcon
  position: absolute
  color: $white
  border: 0px solid #3D3636
  border-radius: 50%
  width: 22px
  height: 22px
  text-align: center

  & i
    line-height: 22px
    height: 22px

.nWithSubsteps .buildIcon
  margin-top: -13px
  margin-left: -9px

.nLowermostStep .buildIcon
  margin-top: -11px
  margin-left: -8px

.nBuildStep.nsuccess .buildIcon
  background-color: $green
.nBuildStep.nfailure .buildIcon
  background-color: $red
.nBuildStep.nrunning .buildIcon
  background-color: $blue

.nBuildStep.npending .buildIcon
  background-color: $white
  color: $very-dark-grey !important
  border: 1px solid $grey

.nBuildStep.nwaiting .buildIcon
  background-color: $peru

.nBuildStep.nkilled .buildIcon
  background-color: $black