@import "colors"

.nBuildDetails
  background-color: $lightGrey
  overflow-x: scroll
  padding: 10px 0px 10px 30px
  white-space: nowrap

.nBuildStep, .nBuildStepParallel, .nBuildStepWithSubsteps
  display: inline-block
  vertical-align: top
  border: 1px solid $grey

.nBuildStepSubsteps, .nBuildStepWithSubsteps
  margin: 5px

.nBuildStepWithSubsteps
  background-color: #eeeeee

  > .nBuildStep
    background-color: #eeeeee
    border: none

  > .nBuildStepSubsteps
    background-color: #dddddd
    
    > .nBuildStepWithSubsteps
      background-color: #cccccc

      > .nBuildStep
        background-color: #cccccc
        border: none
    
      > .nBuildStepSubsteps
        background-color: #bbbbbb
  
        > .nBuildStepWithSubsteps
          background-color: #aaaaaa


.nBuildStep
  background: $white
  border: 1px solid $grey
  width: 130px
  height: 60px
  margin: 10px 10px 10px 10px
    
.nBuildStepWithSubsteps
  >.nBuildStep
    width: calc(100% - 20px)

.nBuildStepParallel
  border: 1px solid $grey

  >.nBuildStep
    display: block
    margin: 10px 10px 20px 10px


  
  




