@import "colors"

.quickDetails
  margin-left: 30px
  margin-bottom: 10px
  white-space: nowrap
  overflow-x: hidden

  // First QuickStep before should not display -> First of Typ is quickTitle
  >.quickStep:nth-of-type(2):before
    display: none

.quickTitle
  margin-left: 5px

.quickStep
  display: inline-block
  width: 14px
  height: 14px
  border-radius: 7px
  margin-left: 5px
  position: relative

  &:before
    content: ""
    width: 6px
    height: 2px
    background-color: $dark-grey
    position: absolute
    left: -6px
    top: 6px

  &.success
    background-color: $green
    border: 1px solid $green

  &.failure
    background-color: $red
    border: 1px solid $red

  &.waiting
    background-color: $peru
    border: 1px solid $peru

  &.pending
    background-color: $white
    border: 1px solid $grey

  &.killed
    background-color: $black
    border: 1px solid $black

  &.running
    background-color: $blue
    border: 1px solid $blue
    

.quickStepContainer
  display: inline-block
  vertical-align: top

  &:first-of-type
    > .quickStep:before
      width: 2px
      height: 10px
      top: -10px
      left: 6px


.quickSubsteps
  >.quickStep:first-of-type:before
    width: 2px
    height: 10px
    top: -10px
    left: 6px

  >.quickStep:last-of-type:after
    position: absolute
    content: ""
    background-color: $dark-grey
    width: 2px
    height: 25px
    right: -2px
    top: -18px