.app {
  text-align: left;
}

.appHeader {
  background-color: white;
  padding: 8px;
  border-bottom: 3px solid #687fc2;
  color: #444;
}

.logo {
  display: inline-block;
  margin-right: 8px;
}

.logoImage {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
  height: 40px;
}

.logoText {
  display: inline-block;
  color: #76bc73;
  font-weight: 300;
  font-size: 1.8em;
  vertical-align: middle;
}

.pipelineName {
  vertical-align: middle;
  margin: 0 24px 0 16px;
}

.runButton {
  background: #687fc2;
  color: white;
  border: none;
}

.runButton:hover {
  background: #546bae;
  color: white;
}
