.App {
  text-align: left;
}

.App-logo {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.App-header {
  background-color: white;
  padding: 10px;
  border-bottom: 3px solid #687fc2;
  color: #444;
}

.LogoText {
  vertical-align: middle;
  display: inline-block;
  color: #76bc73;
  font-weight: 300;
}
