.buildSummary {
  padding: 8px;
  margin: 8px;
  text-align: left;
}

.open {
  border: 4px solid red;
}

.inProgress {
  background: #687fc2;
  color: white;
}

.success {
  background: #76bc73;
  color: white;
}

.failure {
  background: #92262b;
  color: white;
}

.buildIcon {
  font-size: 2.5em;
  vertical-align: middle;
  text-align: center;
}

.buildNumber {
  font-size: 2em;
  vertical-align: middle;
}

.startTime {
  font-size: 1em;
  vertical-align: middle;
}

.duration {
  font-size: 1em;
  vertical-align: middle;
}
